.ProductSingle {
    max-width: 400px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}
.ProductSingle:hover {
    background-color: rgb(40, 37, 37);
    cursor: pointer;
}
.ProductSingle-ImgBackground {
    height: 150px;
    background-size: cover;
    border-radius: 10px;
    padding: 20px;
}
.popularComponent {
    background-color: #F6C768;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 0.875rem;
}
.ProductSingle-Info-left h3 {
    color: white;
    font-size: 1rem;
}
.ProductSingle-Info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 0px;
}
.ProductSingle-Info-right p {
    background-color: #BEE3CC;
    color: black !important;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.875rem;
}