.App-header {
  background-image: url('../../img/bg-cafe.jpg');
  height: 300px;
  background-size: cover;
}
body {
  min-height: 100vh;
  background-color: #131215;
}
.collection-container {
  width: 70%;
  max-width: 1200px;
  padding: 30px 30px;
  padding-top: 90px;
  background: url('../../svg/vector.svg') #1d1c1f no-repeat;
  background-size: 250px;
  border-radius: 10px;
  margin: -100px auto;
  margin-bottom: 50px;
  background-position-y: 40px;
  background-position-x: calc(50% + 150px);
}
h1 {
  color: white;
  text-align: center;
  font-size: 2rem;
}
.collection-container p {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  color: #6F757C;
  text-wrap: balance;
  max-width: 500px;
}
.mainP {
  margin: 10px auto;
}
.button-section {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0px;
}