.App-header {
  background-image: url('./bg-cafe.jpg');
  height: 300px;
  background-size: cover;
  background-position: center;
}
body {
  min-height: 100vh;
  background-color: #131215;
}
.collection-container {
  width: 100%;
  max-width: 320px;
  padding: 40px 20px;
  background: url('./vector.svg') #1d1c1f no-repeat right;
  background-size: 150px;
  border-radius: 10px;
  margin: -100px auto;
}
h1 {
  color: white;
  text-align: center;
  font-size: 2rem;
}
.collection-container p {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  color: #6F757C;
  text-wrap: balance;
}